version: '3.8'

services:
  web:
    build: .
    container_name: apache_web
    ports:
      - "8080:80"
    volumes:
      - /home/baptistep/site-web/:/var/www/html
    restart: always

    extra_hosts:
      - "host.docker.internal:host-gateway"